.topBox {
    margin-bottom: 60px;
}

.innerResultForm {
    width: 50%;
}

.subtitle {
    text-align: left;
}

.formBox {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 20px;
}

.button {
    background-color: #4681f4;
    color: white;
    border: none;
    padding: 10px 10px 10px 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    width: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #06559e;
}

.inputLabel {
    margin-right: 10px;
    font-weight: 500;
}

.sequenceInput {
    width: 98%;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
}

.scoreInputBox {
    display: flex;
}

.scoreInput {
    width: 5%;
    min-width: 40px;
    font-size: 14px;
}

.resultBox {
    text-align: left;
}

.result {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.matrixBox {
    margin-bottom: 60px;
}